# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db