<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class=''>


  {% include 'navbar.html' %}

<div class="flex justify-center top mt-2 fixed w-full z-10">


    {% for message in messages %}

        <div class="
            {% if message.tags == 'error' %}text-error
            {% elif message.tags == 'success' %}text-success
            {% elif message.tags == 'warning' %}text-warning
            {% else %}text-info{% endif %}
            font-medium
        ">
            {{ message }}
        </div>

    {% endfor %}

</div>
    
    {% block content %}
   
    
    {% endblock content %}
</body>
</html>